/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Start of styling*/
header
{
  background-color: #ffffff; /*Need to be removed later*/
  height: 45px;
  width: 100%;
		line-height: 30px;
	box-sizing: border-box;
	padding: 7px 30px 8px;
  position: fixed;
	min-width: 1275px;
	z-index: 1;
	overflow: hidden;
}


header input
{
	height: 30px;
	vertical-align: bottom;
	/*Size of input type also include padding and border*/
	box-sizing: border-box;
}

header div
{
	display: inline-block;
  vertical-align: top;
	line-height: 30px;
}

header img
{
	display: inline-block;
	vertical-align: middle;
}

header img:first-child, header > img
{
	opacity: 0.6;
	filter: alpha("opacity=60");
}

header img:hover:first-child, header > img
{
	opacity: 1;
	filter: alpha("opacity=100");
}

header form
{
	display: inline-block;
	margin-left: 100px;
}

header form input[type="text"]
{
	width: 500px;
	padding: 2px auto;
	font-size: 16px;
	box-sizing: border-box;
}

header form input[type="text"]:focus
{
	border: 1px solid blue;
	box-shadow: inset 0 2px 0 0 #F1F1F1;
}

header form input[type="submit"]
{
	background-color: #f8f8f8;
	width: 60px;
	box-sizing: border-box;
	border: 1px solid #a9a9a9;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url("Images/search_icon.png")
}

header form input[type="submit"]:hover
{
	background-color: #f0f0f0;
		background-image: url("Images/search_icon1.png")
}
#profile_pic
{
	width: 30px;
	height: 30px;
	border-radius: 15px;
	background: url("Images/profile_img.png");
	background-repeat: no-repeat;
	float: right;
	margin-left: 10px;
}

header > img
{
	float: right;
}
header input[type="text"]
{
	padding: 2px 6px;
	box-sizing: border-box;
}

#profile_icons
{
	height: 30px;
	overflow: hidden;
	float: right;
	margin-left: 30px;
}
body{
  background-color:#F1F1F1;
}

section{
  width: 1275px;
  top:45px;
	padding-top: 10px;
	margin: 0 auto;
  position: relative;
	overflow-y: hidden;
}

section:after
{
	clear: both;
	content: "";
	visibility: hidden;
	display: block;
	clear: both;
	height: 0;
}

footer
{
	width: 100%;
	min-width: 1275px;
	padding: 0 30px;
	box-sizing: border-box;
	height: 144px;
	/*When section positined relative it does not impacted the placement of the following
	elements*/
	position: relative;
	top: 45px;
	background: white;
}

#morevideos
{
	width: 420px;
	height: 1250px; /*need to be removed later*/
	background-color: orange; /*need to be removed later*/
  float: right;
	top : 0;
	left: 0;
}

#media
{
	width: 850px;
	height: 470px;
	margin-right: 5px;
}

#mediadesc
{
	width: 830px;
	padding: 15px 10px;
	height: 125px;
	margin-top: 10px;
	font-family: Roboto,arial,sans-serif;
	font-size: 13px;
	line-height: 1.5em;
	background-color: #fff;
}

#comments
{
	width: 850px;
	margin-top: 10px;
	background-color: #ffffff;
	padding: 15px 15px;
	box-sizing: border-box;

}

video
{
	object-fit: cover;
}

.videocover
{
	overflow: hidden;
height: 470px;
}

strong
{
	font-weight: bold;
}

#mediadesc p:last-child
{
	text-align: center;
	border-top: 1px solid #c1bfbf;
	margin-top: 10px;
	padding-top: 5px;
}

.morecontent
{
	color: #767676;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 11px;
}

.morecontent:hover
{
	color: black;
	cursor: pointer;
}

.commenter-pic
{
	float: left;
	display: inline-block;
	margin-right: 20px;
	height: 100%;
	position: absolute;
}

.normal-header
{
	font-weight: bold;
	text-transform: uppercase;
}

.user-comment
{
	font-size: 13px;
	color: #555555;
	border-bottom: 1px solid #E2E2E2;
	padding-bottom: 15px;
	box-sizing: border-box;
}

.user-comment textarea
{
	padding: 10px 10px;
	width: 725px;
	color: #555555;
	box-sizing: border-box;
	margin-left: 20px;
	line-height: 15px;
	font-size: 10px;
	height: 50px;
	color: black;
}

.user-comment textarea:focus
{
	border: 1px solid blue;
}

.user-comment p:first-child
{
	margin-bottom: 20px;
}

.user-comment img
{
	float: left;
}

.select-comment-order
{
	margin: 20px 0;
}

.select-comment-order select
{
	padding: 5px 7px;
	background-color: white;
		font-size: 11px;
		color: #555555;
		font-weight: bold;
}

.select-comment-order select:hover{
	background-color: rgb(240,240,240);
}

.singlecomment
{
	font-size: 15px;
	line-height: 1.2em;
	position: relative;
}

.commenter-name a, .commenter-name a:visited
{
	color:#128ee9;
	text-decoration: none;
}

.commenter-name a:hover
{
	text-decoration: underline;
}

.comment-time
{
	font-size: 13px;
	color: #767676;
}

.singlecomment{
	margin-bottom: 20px;
}

.comment-reply
{
	margin-left: 68px;
	margin-bottom: 15px;
}

.reply-text
{
	color: #555;
	opacity: 0.75;
}

.reply-text:hover
{
	color: black;
	opacity: 1;
	cursor: pointer;
}

.like-count
{
	color:#128ee9;
	margin-left: 10px;
	margin-right: 10px;
}

.comment-action img
{
	opacity: 0.7;
	vertical-align: baseline;
}

.comment-action img:hover
{
	opacity: 1;
	cursor: pointer;
}

.comment-content
{
	margin-left: 60px;
}

.comment-reply .comment-content
{
	margin-left: 50px;
}

.comment-reply-all{
	color:#128ee9;
}

.comment-reply-all:hover{
	text-decoration: underline;
	cursor: pointer;
}
